* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
    background-color: rgb(37, 15, 30);
    color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 800px;
    align-items: center;
    margin: 0 auto;
    padding: 36px;
}

.container p {
    font-size: 16px;
    margin: 16px 0;
}

img {
    height: 100%;
    width: 100%;
    margin-bottom: 16px;
}

.countdown {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    font-size: 16px;
    color: #fff;
    min-width: 320px;
}

.time {
    background-color: #d742ef;
    padding: 5px;
    min-width: 65px;
}

.expired {
    color: rgb(30, 255, 0);
    margin: 0 auto;
}